.grid {
  background: #e7eaf6;

}
.button{
  display: flex;
  gap: 10%;
  background-color: #e5eaf5;
  padding: 2% 2%;
  padding-bottom: 4%;
}
.bb{
  color: rgb(4, 17, 18);
  background: #a2a8d3;
  padding: 15px;
  border: none;
}